<!doctype html>
<html>
  <head>
    <title>Angular using a service</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.7/angular.js"></script>
    <script src="app.js"></script>

  </head>
  <body ng-app='myApp'>

    <h2>Angular one-way data binding example</h2>
    <div ng-controller="SimpleController">
      <h3>Items from a static array</h3>
      <div ng-repeat="item in items">
          {{item}}
        </div>

        <h3>Items from an http API</h3>
        <table id="notes_table">
          <thead>
             <th>Author</th>
             <th>Text</th>
             <th>Created</th>
          </thead>
          <tbody>
          <tr ng-repeat="item in data">
            <td class="author">{{item.author}}</td>
            <td class="text">{{item.text}}</td>
            <td class="created_at">{{item.created_at | date:'dd MMM yyyy hh:mm' }}</td>
          </tr>
          </tbody>
        </table>
    </div>

  </body>
</html>