<!doctype html>
<html>
  <head>
    <title>Angular using a service</title>
    <link rel="stylesheet" type="text/css" href="base.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.7/angular.js"></script>
    <script src="app.js"></script>

  </head>
  <body ng-app='notesApp'>

    <h2>Angular one-way data binding example</h2>
    <div ng-controller="SimpleController">
      <h3>Items from a static array</h3>
      <div ng-repeat="item in items">
          {{item}}
        </div>

        <h3>Items from an http API</h3>
        <table id="notes_table">
          <thead>
             <th>Author</th>
             <th>Text</th>
             <th>Created</th>
             <th>Action</th>
          </thead>
          <tbody>
          <tr ng-repeat="item in data">
            <td class="author">{{item.author}}</td>
            <td class="text">{{item.text}}</td>
            <td class="created_at">{{item.created_at | date:'dd MMM yyyy hh:mm' }}</td>
            <td class="link"><a href="#" ng-click="showDetail(item)">Details</a></td>
          </tr>
          </tbody>
        </table>

        <h3>Detail view-age kind of </h3>

        <div ng-show="singleItem">
        ng-bind is an alternative to the mustachioed / handlebar look { { } }
        <p><a href="#" ng-click="clearDetail()">Clear Detail</a></p>
          <table>
           <tr><td>Author</td><td ng-bind="singleItem.author"></td></tr>
           <tr><td>Text</td><td ng-bind="singleItem.text"></td></tr>
           <tr><td>When</td><td ng-bind="singleItem.created_at | date: 'dd MMM yyyy hh:mm'"></td>

          </table>

          Whole object: {{singleItem}}
        </div>
    </div>

  </body>
</html>